 version: '3.1'
 services:
  mongo:
    image: mongo
    container_name: myapp_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    container_name: myapp_mongo_express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
    depends_on:
      - mongo
  myapp:
    image: aspnetcoreapp
    container_name: myapp
    restart: always
    ports:
      - 5000:80
    environment:
      MongoDB__Host: mongo
    depends_on:
      - mongo
  client:
    image: frontendapp
    container_name: myapp_frontend
    restart: always
    ports:
      - 4200:80
    depends_on:
      - myapp
